/**
font-family: 'Nunito', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Dosis', sans-serif;
font-family: 'Keania One', cursive;
font-family: 'Khand', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Coiny', cursive;
**/


body{
	background-color: #30a294;
	padding-top: 5em;
}

nav{
	font-family: 'Coiny', cursive;
}

.thumbnail p{
		font-size: 12px;
	}

.website-thumbnail-image{
	
	width: 90%;

}

.sidebar{
		display: visible;
		float: right;
		width:20%;
	}

.container{
	float: left;
	width: 80%;
}


.adcontainer{
	padding-bottom: 1em;
	margin-bottom: 2em;
}

.container h1{
	text-align: center;
	font-family: 'Coiny', cursive;

}

.container-heading{
	margin-top: 1em;
	margin-bottom: 2em;
}

.footer-heading{
	margin-bottom: 0.5em;
}

.thumbnail-container{
	margin-bottom: 2em;
}

.thumbnail{

	background-color: #7fffd4;
	padding: 20px;
	border-radius: 5%;
	margin-bottom: 1em;
}

.thumbnail img{
	border-radius: 10%;
	margin-bottom: 0.5em;

}
	


.thumbnail h3{
	font-family: 'Shrikhand', cursive;
	font-size: 30px;
}

.thumbnail p{
	font-size: 12px;
}

.brand-text{
	display: none;
	}

/** MEDIA QUERIES (BASED ON BOOTSTRAP BREAKPOINTS) **/ 


/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) { 

	.thumbnail h3{
		font-family: 'Shrikhand', cursive;
		font-size: 30px;
	}

	.thumbnail p{
		font-size: 12px;
	}

	.thumbnail{
		margin-bottom: 1em;
	}

	.adcontainer{
		padding-bottom: 1em;
		margin-bottom: 2em;
	}

 }


@media(min-width: 700px){

	.brand-text{
		display: inline;
		font-size: 16px;
	}
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) { 

	.thumbnail h3{
		font-family: 'Shrikhand', cursive;
		font-size: 20px;
	}

	.thumbnail p{
		font-size: 15px;

	}

.brand-text{
		font-size: 20px;
	}

	.website-thumbnail-image{
	
	width: 80%;

}


 }

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) { 

.brand-text{
		font-size: 25px;
	}


 }

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) { 



 }