

#main-crosshair{
	position: absolute;
}

#user-controls{
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#target-area{
	position: fixed;
	top: 50px;
	left: 50px;
	background-color: blue;
	width: 80%;
	height: 30em;
}