

/* Provide padding for the top of the page so that content doesn't underlap the header */

/**

font-family: 'Nosifer', cursive;
font-family: 'Khand', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Asap Condensed', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Convergence', sans-serif;
font-family: 'Neucha', cursive;

**/  


body{

	padding-top: 8em;
	background-color: #71b16e;
}

footer{
	margin-top: 2em;
}




h1{
	font-family: 'Nosifer', cursive;
	
}

h2{
	font-family: 'Khand', sans-serif;

}

#appicon-caption{
	font-family: 'Convergence', sans-serif;
	font-size: 1.2em;
	margin-left: 1em;
	color: #194a82;

}

nav li{
	font-family: 'Asap Condensed', sans-serif;
	color: #194a82;
}

h5{
	font-family: 'Convergence', sans-serif;
	font-size: 1.5em;

}

.media-body h5{
	color: #194a82;
	
}

.media-body{
	color: #f2df95;
}

.adcontainer{
	width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
}

#carousel-box{
	border-radius: 10%;
}

.carousel{
	margin-bottom: 2em;
}

.title{
	margin-left: 1em;
	margin-bottom: 1em;
}


.faq-title{
	text-align: center;
	margin-bottom: 1em;
}

.faq-container{
	padding-left: 2em;
	padding-right: 2em;
}

.media{
	margin-bottom: 1.5em;
}


.enemy-cards{
	padding: 5em;
	}


.enemy-cards .card-text{
	font-size: 20px;
}

.enemy-cards img{
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	
	width: 200px;
	height: auto;

}



/* Provide a bottom margin for the cards so that they don't stack vertically; also, provide a minimum
 inter-card, horizontal spacing so that adjacent cards don't appear to compacted together for samller device screen 
 widths */


.card{
	margin-right: 1em;
	margin-bottom: 3em;
}


.card img{
		width: 100%;
		height: auto;
}